<div>
  {{#each badgeTypes:area}}
  <div class="legend">
      <div class="badge {{ area }} neutral">
        <span title="{{ area }}">{{{ badgeTypes[area] }}}</span>
      </div> <span class="openbracket">{</span> {{ area }} <span class="closebracket">}</span>
  </div>
  {{/each}}
</div>

<div class="possible">
  <h2><a class="clickable" on-click="togglePossibleBadges">Possible badges {{#if displayPossibleBadges }} &#x25B2; {{else}} &#x25bc; {{/if}}</a></h2>
  <div class="possible-badges {{#if !displayPossibleBadges }} hide {{/if}}">
  {{#each badgesData:id}}
    <div>
      <div class="badge {{ badgesData[id].area }} {{ badgesData[id].level }}">
        <span title="{{ badgesData[id].area }}">{{{ badgesData[id].symbol }}}</span>
      </div> {{ id }}
    </div>
  {{/each}}
  </div>
</div>

<div>
  {{#each engineerBadges}}
  <div class="engineer">
    <div class="nickname">{{nick}}</div>
    {{#each badges}}
      <div class="badge {{ badgesData[id].area }} {{ badgesData[id].level }}">
        <span title="{{ badgesData[id].area }}: {{ badgesData[id].id }}{{#if variant}} with {{ variant }} {{/if}}">{{{ badgesData[id].symbol }}}</span>
      </div>
    {{/each}}
  </div>
  {{/each}}
</div>

<script>
var badgeTypesConfig = {
  'challenge': '&#x2328;',
  'community': '&#x2302;',
  'firefight': '&#x1f525;', /* http://www.fileformat.info/info/unicode/char/1f525/index.htm */
  'teaching': '&#x1F393;',
}

var badgesConfig = {
  'challenge/system-standard-streams': {
    level: 'bronce',
  },
  'community/meetup-attended': {
    level: 'bronce',
  },
  'community/meetup-talk': {
    level: 'silver',
  },
  'community/meetup-organized': {
    level: 'gold',
  },
  'firefight/weekly-chief': {
    level: 'bronce',
  },
  'firefight/all-nighter': {
    level: 'gold',
  },
  'teaching/challenge-created': {
    level: 'bronce',
  },
  'teaching/learn-thursday': {
    level: 'silver',
  },
  'teaching/movie-proposed': {
    level: 'bronce',
  },
}

engineersConfig = [
      {
        nick: 'Alur',
        badges: [
          'firefight/weekly-chief',
        ]
      },
      {
        nick: 'Avner',
        badges: [
        ]
      },
      {
        nick: 'Banx',
        badges: [
        ]
      },
      {
        nick: 'Diego',
        badges: [
          'challenge/system-standard-streams:prolog',
          'challenge/system-standard-streams:py2',
          'challenge/system-standard-streams:py3',
          'teaching/movie-proposed',
        ]
      },
      {
        nick: 'Él Mexicano',
        badges: [
          'challenge/system-standard-streams:go',
          'teaching/challenge-created:system-standard-streams',
        ]
      },
      {
        nick: 'Gerard',
        badges: [
        ]
      },
      {
        nick: 'German',
        badges: [
        ]
      },
      {
        nick: 'JayR',
        badges: [
          'firefight/weekly-chief',
          'challenge/system-standard-streams:py2',
        ]
      },
      {
        nick: 'Kerwin',
        badges: [
          'teaching/movie-proposed',
        ]
      },
      {
        nick: 'Marconi',
        badges: [
          'challenge/system-standard-streams:go',
          'challenge/system-standard-streams:haskell',
        ]
      },
      {
        nick: 'murat',
        badges: [
          'challenge/system-standard-streams:bash',
          'challenge/system-standard-streams:commonlisp',
          'teaching/movie-proposed',
        ]
      },
      {
        nick: 'Ravi',
        badges: [
          'challenge/system-standard-streams:perl',
        ]
      },
]

component.exports = {
  isolated: true,
  twoway: false,
  data: {
    badgesData: {},
    badgeTypes: {},
    displayPossibleBadges: false,
    engineerBadges: [],
  },
  oninit: function() {
    var component = this
    this.on('togglePossibleBadges', function() {
      component.set('displayPossibleBadges', !component.get('displayPossibleBadges'))
    })

    this.set('badgesData', Object.keys(badgesConfig).reduce(function(previous, badgeId) {
      var area;
      var idParts = badgeId.split("/")

      area = idParts[0]
      previous[badgeId] = {
        area: area,
        id: idParts[1],
        level: badgesConfig[badgeId].level,
        symbol: badgeTypesConfig[area],
      }
      return previous
    }, {}))
    var engineerBadges = engineersConfig.map(function(engineerConfig) {
      return {
        badges: engineerConfig.badges.map(function(badgeId) {
          var badgeParts = badgeId.split(':')
          return {
            id: badgeParts[0],
            variant: (badgeParts.length > 1) ? badgeParts[1] : '',
          }
        }),
        nick: engineerConfig.nick,
      }
    })
    engineerBadges.sort(function(left, right) {
      return right.badges.length - left.badges.length
    })
    this.set('engineerBadges', engineerBadges)
    this.set('badgeTypes', badgeTypesConfig)
  }
}
</script>
